--
-- PostgreSQL database dump
--

\restrict qLCVFvVuGtaAopl1spF7IrVtj1gTwMhl3nQBny5Bt9xJyowHktbMhHslNdVigZy

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: cloudscale
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO cloudscale;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: cloudscale
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Deployment; Type: TABLE; Schema: public; Owner: cloudscale
--

CREATE TABLE public."Deployment" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    logs text,
    "aiDiagnosis" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "containerId" text,
    "containerName" text,
    "containerPort" integer,
    "imageName" text,
    "liveUrl" text
);


ALTER TABLE public."Deployment" OWNER TO cloudscale;

--
-- Name: EnvironmentVariable; Type: TABLE; Schema: public; Owner: cloudscale
--

CREATE TABLE public."EnvironmentVariable" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    key text NOT NULL,
    "valueEncrypted" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EnvironmentVariable" OWNER TO cloudscale;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: cloudscale
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    name text NOT NULL,
    "githubRepo" text NOT NULL,
    branch text DEFAULT 'main'::text NOT NULL,
    port integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Project" OWNER TO cloudscale;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: cloudscale
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO cloudscale;

--
-- Data for Name: Deployment; Type: TABLE DATA; Schema: public; Owner: cloudscale
--



--
-- Data for Name: EnvironmentVariable; Type: TABLE DATA; Schema: public; Owner: cloudscale
--

COPY public."EnvironmentVariable" (id, "projectId", key, "valueEncrypted", "createdAt", "updatedAt") FROM stdin;
9d23474d-9561-43fb-bf20-0f8659b04817	7401da2e-a9ef-4fe7-9f85-ea646ef1aede	TEST_API	{"iv":"9E8MqoNN3Z99f49t","tag":"V44enupbI3ZN1KsU4EcU5A==","data":"PIvI7ztp2prWrQJXRQmcdA=="}	2026-08-10 14:50:49.765	2026-08-10 14:50:49.765
\.


--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: cloudscale
--

COPY public."Project" (id, name, "githubRepo", branch, port, "createdAt") FROM stdin;
7401da2e-a9ef-4fe7-9f85-ea646ef1aede	test	https://github.com/JainMehul05/cloudscale-test-app	main	3823	2026-08-10 14:36:19.978
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: cloudscale
--



--
-- Name: Deployment Deployment_pkey; Type: CONSTRAINT; Schema: public; Owner: cloudscale
--

ALTER TABLE ONLY public."Deployment"
    ADD CONSTRAINT "Deployment_pkey" PRIMARY KEY (id);


--
-- Name: EnvironmentVariable EnvironmentVariable_pkey; Type: CONSTRAINT; Schema: public; Owner: cloudscale
--

ALTER TABLE ONLY public."EnvironmentVariable"
    ADD CONSTRAINT "EnvironmentVariable_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: cloudscale
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: cloudscale
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: EnvironmentVariable_projectId_key_key; Type: INDEX; Schema: public; Owner: cloudscale
--

CREATE UNIQUE INDEX "EnvironmentVariable_projectId_key_key" ON public."EnvironmentVariable" USING btree ("projectId", key);


--
-- Name: Project_name_key; Type: INDEX; Schema: public; Owner: cloudscale
--

CREATE UNIQUE INDEX "Project_name_key" ON public."Project" USING btree (name);


--
-- Name: Project_port_key; Type: INDEX; Schema: public; Owner: cloudscale
--

CREATE UNIQUE INDEX "Project_port_key" ON public."Project" USING btree (port);


--
-- Name: Deployment Deployment_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cloudscale
--

ALTER TABLE ONLY public."Deployment"
    ADD CONSTRAINT "Deployment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EnvironmentVariable EnvironmentVariable_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cloudscale
--

ALTER TABLE ONLY public."EnvironmentVariable"
    ADD CONSTRAINT "EnvironmentVariable_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: cloudscale
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict qLCVFvVuGtaAopl1spF7IrVtj1gTwMhl3nQBny5Bt9xJyowHktbMhHslNdVigZy

